.sidebar {
    height: 500px;
    border: 1px solid black;
}

.navigation-menu {
    border: 1px solid black;
}
.navigation-menu a {
    width: 100%;
}

.navigation-menu.active {
    background-color: gray;
}
H3{
    background-color:rgb(71, 98, 107);
     border: black; 
     text-align: center; 
     color:white;
}