<!-- <div class="container-fluid"> -->
    <!-- <app-header [projectTitle]="title"></app-header> -->
    <!-- <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <app-admin-login></app-admin-login>
        </div>
    </div> -->
    <!-- <div class="row">
        <div class="col-lg-2 col-md-2">
            <app-sidebar [navigationMenu]="navigationMenu"></app-sidebar>
        </div>
        <div class="col-lg-10 col-md-10 content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div> -->