<!-- Modal -->
<div class="modal fade" [ngClass]="{'show': displayModal}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Department</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span (click)="displayModal = false" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-group" [formGroup]="departform">
                    <div class="form-group col-xs-12 col-md-12 col-lg-12">
                        <label class="control-label" for="entomodepartmentname">New Department Name *</label>
                        <input  type="text"  class="form-control" formControlName="name" [ngClass]="{'is-invalid': submitted && h.name.errors }"
                             name="name" id="name"
                            placeholder="Provide full name of the department" />
                        <div *ngIf="h.name.touched && h.name.errors" class="text-danger">
                            <div *ngIf="h.name.errors.required">
                                Department name is requried
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-md-12 col-lg-12">
                        <label class="control-label" for="departmentdescription">Department Description *</label>
                        <input formControlName="description"
                            [ngClass]="{'is-invalid': submitted && h.description.errors }" type="text"
                            name="description" id="description" class="form-control"
                            placeholder="Provide description" />
                        <div *ngIf="h.description.touched && h.description.errors" class="text-danger">
                            <div *ngIf="h.description.errors.required">
                                Department Description is requried
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-md-12 col-lg-12">
                        <label class="control-label" for="departmentlocation">Department location *</label>
                        <input formControlName="location" [ngClass]="{'is-invalid': submitted && h.location.errors }"
                            type="text" name="location" id="location" class="form-control"
                            placeholder="Provide location of the department" />
                        <div *ngIf="h.location.touched && h.location.errors" class="text-danger">
                            <div *ngIf="h.location.errors.required">
                                Department Location is requried
                            </div>
                        </div>
                    </div>
                    <input type="hidden" formControlName="deptId" name="departmentId" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="onReset()">Cancel</button>
                <button type="button" class="btn btn-primary" (click)="saveDepartment()">Save</button>
            </div>
        </div>
    </div>
</div>

<!-- Button trigger modal -->
<div class="col-lg-10 col-md-10">
    <button type="button" class="btn btn-primary add-department" (click)="refreshModel();displayModal = true">
        Add Department
    </button>
</div>
<br />
<div class="col-lg-10 col-md-10  data-table table-bordered">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hovers">
        <thead>
            <tr>
                <th>S.No</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let department of departments; let i = index" class="detp-{{department.deptId}}">
                <td>{{i+1}}</td>
                <td>{{department.name}}</td>
                <td><span (click)="loadDepartment(department.deptId); displayModal = true" class="fas fa-edit"></span> |
                    <span (click)="deleteDepartment(department.deptId, department.name, i)" class="fas fa-trash"></span>
                </td>
            </tr>
        </tbody>
    </table>
</div>