<!-- Modal -->
<div class="modal fade" [ngClass]="{'show': displayModal}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Employee</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span (click)="displayModal = false" aria-hidden="true">&times;</span>
                </button>
            </div>
            <form name="registerNewEmployeeForm" id="registerNewEmployeeForm">
                <div class="modal-body">
                    <div class="form-group col-xs-12 col-md-12 col-lg-12">
                        <label class="control-label" for="employeename">New Employee Name *</label>
                        <input type="text" [(ngModel)]="employeeName" name="employeename"
                            id="employeename" class="form-control" maxlength="128"
                            placeholder="Provide full name of the Employee"
                            data-required-error="This is a mandatory field" required />
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group col-xs-12 col-md-12 col-lg-12">
                        <label class="control-label" for="employeeEmail">Employee emailId *</label>
                        <input type="text" [(ngModel)]="employeeEmail" name="employeeEmail"
                            id="employeeEmail" class="form-control" maxlength="128"
                            placeholder="Provide description" data-required-error="This is a mandatory field"
                            required />
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group col-xs-12 col-md-12 col-lg-12">
                        <h6>Select Department</h6>
                    <select class="browser-default custom-select">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                      </div>
                    <!-- <div class="col-xs-12 col-sm-6 col-lg-5 example-col">
                        <select formControlName="website" class="form-control" >
                            <option disabled>Select Website</option>
                            <option>Choose Website</option>
                            <option >asofhwnv</option>
                            <option >asofhwnv</option>
                            <option >asofhwnv</option>
                            <option >asofhwnv</option>

                        </select>
                          
                          
                      </div> -->
                    <input type="hidden" [(ngModel)]="employeeId" name="employeeId" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="displayModal = false">Cancel</button>
                    <button type="button" class="btn btn-primary" (click)="saveEmployee()">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Button trigger modal -->
<div class="col-lg-10 col-md-10">
    <button type="button" class="btn btn-primary add-employee" (click)="refreshModel();displayModal = true">
        Add Employee
    </button>
</div>
<br/>
<div class="col-lg-10 col-md-10  data-table table-bordered">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hovers">
        <thead>
            <tr>
                <th>S.No</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees; let i = index" class="emp-{{employee.id}}">
                <td>{{i+1}}</td>
                <td>{{employee.empFullName}}</td>
                <td><span (click)="loadEmployee(employee.id); displayModal = true" class="fas fa-edit"></span> |
                    <span (click)="deleteEmployee(employee.id, employee.empFullName, i)" class="fas fa-trash"></span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!-- <ejs-multiselect></ejs-multiselect> -->

<ejs-multiselect id='localData' #local [dataSource]='countries' [fields]='localFields' [placeholder]='localWaterMark' [value]='value'></ejs-multiselect> 